* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    /* font-family: 'David Libre'; */
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 103%;
    color: #101A24;
}

p {
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 181%; 
    color: #5C6574;
}

/* button */



.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

/* li {
    list-style: none;
} */