* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    /* font-family: 'David Libre'; */
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 103%;
    color: #101A24;
    width: 512px;
}

h2 {
    /* font-family: 'David Libre'; */
    font-weight: 700;
    font-size: 60px;
    line-height: 108%;
    text-align: left;
    color: #101A24;
    max-width: 520px;
}

h3 {
    /* font-family: 'David Libre'; */
    font-weight: 700;
    font-size: 50px;
    line-height: 116%;
    text-align: center;
    color: #FFFFFF;
    width: min(804px, 85%);
}

h4 {
    /* font-family: 'David Libre'; */
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #101A24;
}

p {
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 181%; 
    color: #5C6574;
    width: 376px;
    text-align: center;
}

input {
    /* width: min(667px, 95%); */
    width: 100%;
    height: 80px;
    border-radius: 20px;
    padding: 28px 17px;
    border: none;
    margin: 0 auto;
}

/* button */
button {
    width: 160px;
    height: 64px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    border-radius: 25px 2.5px;
    /* font-family: 'David Libre'; */
    font-weight: 500;
    font-size: 20px;
    line-height: 145%; 
    color: #FFFFFF;
}

.orange {
    background-color: #EA6D27;
}

.black {
    background-color: #101A24;
}

.btn-container {
    gap: 25px;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
    /* flex-wrap: wrap; */
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* .center: {
    display: grid;
    place-items: center;
} */

.column-center {
    flex-direction: column;
    align-items: center;
}

.column-justify-center {
    flex-direction: column;
    justify-content: center;
}

ul {
    gap: 2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    /* font-family: 'Inter'; */
    font-weight: 400;
    font-size: 16px;
    line-height: 181%;
    color: #101A24;
    cursor: pointer;
}

#logo {
    font-size: 30px;
    /* font-family: 'Inter'; */
    text-transform: lowercase;
    color: #101A24;
    font-weight: 700;
}

/* HOME SECTION */
.landing {
    gap: 100px;
    margin-bottom: 150px;
    margin-top: 200px;
}

.landing p {
    margin-top: 70px;
    margin-bottom: 18px;
    text-align: left;
}

#absolute {
    position: absolute;
    top: 200px;
    z-index: 2;
    right: 150px;
    width: 250px;
    height: auto;
}

#interior {
    position: relative;
    max-width: 100%;
    /* 1000px-ze metze kargadaa */
    min-width: 300px;
    height: auto;
    border-radius: 150px 35px;
}

.menu {
    gap: 50px;
    margin-top: 170px;
}

.menu-item {
    width: 265px;
    height: 309px;
    /* background: pink; */
    display: flex;
    gap: 20px;
    border-radius: 25px 2.5px;
    position: relative;
}

.menu-item p {
    width: 225px;
}

.meal {
    position: absolute;
    top: -120px;
}


.price {
    position: absolute;
    top: -80px;
    right: 30px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #101A24;
    /* font-family: 'Inter'; */
    font-weight: 700;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #FFFFFF;
    /*  */
    display: grid;
    place-items: center;
    /*  */
}

#welcome {
    margin: 150px auto;
}

#welcome p {
    text-align: left;
}

#main-pic {
    width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    #welcome {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #welcome div {
        align-items: center;
    }

    #welcome div h2, #welcome p {
        text-align: center;
    }


    #main-pic {
        width: 400px;
        height: auto;
    }
}


/* PROMO SECTION */
#promo {
    background-image: url('../assets/promo.png');
    width: 80vw;
    height: 407px;
    margin: 130px auto;
    border-radius: 40px;
    display: grid;
    place-items: center;
}

#promo div {
    width: 95%;
    margin: 0 auto;
}

#subscribe {
    border-radius: 10px;
    position: absolute;
    top: 7px;
    right: 30px;
    z-index: 2;
}